#container {
  color: black;

  padding: 20px;
  background-color: transparentize(white, 0.2);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  .player-container {
    height: 30px;
    font-weight: 600;

    display: flex;
    gap: 10px;
    align-items: center;

    img {
      height: 30px;
      clip-path: circle();
    }
  }
}
