@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap');

$verse-blue: #2872fd;

body {
  margin: 0;
  overflow: hidden;

  font-family: 'Inter', sans-serif;
}
